{% extends 'base.html' %}
{% load static %}

{% block title %}
  Страница не существует
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Страница не&nbsp;существует</h2>
    <div class="text-center text-primary big-text mt-5">
      <h1><b>4 0 4</b></h1>
    </div>
    <div class="text-center mt-5">
      <p>
        <b>Попробуйте уточнить запрос</b>
      </p>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
