{% extends 'base.html' %}
{% load static %}

{% block title %}
  Доступ запрещен!
{% endblock %}

<!-- Контент страницы -->
<div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
  <h2>Доступ запрещен!</h2>
  <div class="mt-5">
    <p>
      <b>У&nbsp;вас нет прав на&nbsp;просмотр данной страницы.</b>
    </p>
    <p>
      <a class="btn btn-outline-primary" href="mailto:info@stratman.pro?subject=Проблема%20с%20доступом&body=Добрый%20день!">Обратитесь к&nbsp;администрации</a>
    </p>
  </div>
</div>
<!-- *********** -->
