<!DOCTYPE html>
{% load static %}
<!--                                                                                    
Автор: Артем Фомин
Компания: ООО "Стратмен.про"
                                                                                     -->

<!-- <html lang="ru" data-bs-theme="dark"> -->
<html lang="ru" data-bs-theme="light">
  <head>
    <!-- Кодировка символов -->
    <meta charset="utf-8" />
    <!-- Параметры отображения страницы на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- Заголовок страницы -->
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <!-- Favicon (Рекомендую Онлайн-генератор https://realfavicongenerator.net) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff" />
    <!-- META TAGS (меняются в подключаемых страницах) -->
    {% block meta_tags %}

    {% endblock %}
  </head>
  <body>
    <!-- Экран со спинером загрузки -->
    {% include 'spinner.html' %}

    <!-- Шапка страницы -->
    {% include 'header.html' %}

    <!-- Основной контент страницы -->
    <main class="d-flex flex-column flex-fill bg-body">
      <!-- Сообщения об успехе -->
      {% include 'messages.html' %}
      <!-- ********* ** ****** -->
      <!-- Контент страницы -->
      {% block content %}

      {% endblock %}
      <!-- ******* ******** -->
    </main>
    <!-- Подвал страницы -->
    {% include 'footer.html' %}

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <!-- Путь к скриптам для автозаполнения поля "Организация" -->
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.8.0/dist/js/jquery.suggestions.min.js"></script>
    <!-- Bootstrap в связке с Popper -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Включение Popper везде -->
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
    </script>
  </body>
</html>
