{% load static %}
<!-- Главное меню сайта -->
<header id="header" class="w-100">
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
      <a class="navbar-brand mt-2 mt-lg-0 px-3 px-lg-0" href="{% url 'home' %}"><img id="navbar_brand_logo"
          src="{% static 'img/elements/logo.webp' %}" height="90%" alt="Logo" loading="lazy" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3 px-lg-0 gap-2 gap-lg-3">
          <li class="nav-item mt-3 mt-lg-0">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Выпадающее меню</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Действие</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Еще действие</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Еще какое-то действие</a>
              </li>
            </ul>
          </li>
          <li class="nav-item mt-lg-0">
            <a class="nav-link" href="{% url 'page' %}">Страница</a>
          </li>
        </ul>
        {% include 'user_menu.html' %}
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!-- ******* **** ***** -->
<!-- Заглушка под закрепленной шапкой -->
<div id="header_plug" class="header_plug"></div>
<!-- ******** *** ************ ****** -->

<div id="user_menu" class="container-fluid d-flex justify-content-end bg-body-tertiary py-3 px-lg-4 d-none">
  {% include 'user_menu.html' %}
</div>