{% load static %}
<div class="d-flex align-items-center px-3 px-lg-0">
  <ul class="navbar-nav d-flex flex-row">
    {% if request.user.is_authenticated %}
      <!-- User menu -->
      <li class="nav-item me-3 me-lg-0 dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item"
              href="{% url 'account' %}"
              title="{% if user.first_name and user.last_name %}
                {{ user.first_name }}{{ user.last_name }}
              {% else %}
                {{ user.get_username }}
              {% endif %}">
              Карточка пользователя
            </a>
          </li>
          {% if request.user.is_authenticated and user.is_superuser %}
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><b>Панель администратора</b></a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'all_users' %}">Все пользователи</a>
            </li>
          {% endif %}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="dropdown-item" type="submit">Выход</button>
            </form>
            <!-- <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}" alt="Выход" title="Выход"><b>Выход</b></a> -->
          </li>
        </ul>
      </li>
    {% else %}
      <hr class="hr" />
      <li>
        <div class="d-flex align-self-end align-items-center my-3 my-lg-0">
          <a data-mdb-ripple-init type="button" class="btn btn-sm btn-link px-3 me-2" href="{% url 'login' %}?next={{ request.path }}">Вход</a>
          <a data-mdb-ripple-init type="button" class="btn btn-sm btn-primary me-3" href="{% url 'signup' %}?next={{ request.path }}">Регистрация</a>
        </div>
      </li>
    {% endif %}
  </ul>
</div>
