{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Ура! Проект Django создан!
{% endblock %}

<!-- META TAGS -->
{% block meta_tags %}
  <!-- Основные -->
  <meta name="description" content="Новый проект Django. Удачной разработки" />
  <meta name="keywords" content="новый, проект, Django" />
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="https://stratman.pro/" />

  <!-- Для Фейсбука, ВКонтакте, Одноклассников и Гуглплюса -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Новый проект Django" />
  <meta property="og:title" content="Новый проект Django" />
  <meta property="og:description" content="Новый проект Django. Удачной разработки" />
  <meta property="og:url" content="https://stratman.pro/" />
  <meta property="og:locale" content="ru_RU" />

  <!-- Для Твиттера и Вконтакта -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Новый проект Django" />
  <meta name="twitter:description" content="Новый проект Django. Удачной разработки" />
  <meta name="twitter:image:src" content="{% static 'img/elements/logo.png' %}" />
  <meta name="twitter:url" content="https://stratman.pro/" />
  <meta name="twitter:domain" content="Новый проект Django" />
  <meta name="twitter:site" content="Новый проект Django" />
  <meta name="twitter:creator" content="@stratman.pro" />

  <!-- Для Гуглплюса -->
  <meta itemprop="name" content="Новый проект Django" />
  <meta itemprop="description" content="Новый проект Django. Удачной разработки" />
  <meta itemprop="image" content="{% static 'img/elements/logo.png' %}" />
{% endblock %}

{% block content %}
  <!-- Start your project here -->
  <div class="container my-auto">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1><strong>Ура! <br />Проект Django создан!</strong></h1>
        <img class="mt-5" src="{% static 'img/elements/logo.png' %}" style="max-width: 200px; max-height: 200px; width: auto; height: auto;" />
        <h5 class="mt-5">Благодарим Вас за использование нашего скрипта! <br />Мы рады, что вы с нами.</h5>
        <p class="mt-3">Команда Stratman.pro</p>
        <a class="btn btn-primary btn-lg mt-3" data-mdb-ripple-init href="https://stratman.pro/" target="_blank" role="button">Узнать больше</a>
      </div>
    </div>
  </div>
  <!-- End your project here -->
{% endblock %}
