{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Вход
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Вход на&nbsp;сайт</h2>
    <div class="mt-5">
      <form action="{{ action }}" id="login_form" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="my-3">
          <p class="text-danger">
            {% if form.errors %}
              Ваше имя пользователя и&nbsp;пароль не&nbsp;совпадают. Попробуйте&nbsp;еще&nbsp;раз.
            {% endif %}
            {% if next %}
              {% if user.is_authenticated %}
                У&nbsp;вашей учетной записи нет&nbsp;доступа к&nbsp;этой странице.
                <br />Чтобы продолжить, пожалуйста, войдите в&nbsp;систему с&nbsp;учетной записью, у&nbsp;которой есть доступ.
              {% endif %}
            {% endif %}
          </p>
        </div>

        <div class="my-3">
          <div class="form-floating my-3">
            {{ form.username|add_class:'form-control floating'|attr:'id:id_username'|attr:'placeholder:name@example.com' }}
            <label for="id_username">{{ form.username.label }}</label>
          </div>
          <div class="form-floating my-3">
            {{ form.password|add_class:'form-control floating'|attr:'id:id_password'|attr:'placeholder:Пароль' }}
            <label for="id_password">{{ form.password.label_tag }}</label>
            <div id="passwordHelp" class="form-text">{{ form.password.errors }}</div>
          </div>
        </div>
        <div class="d-flex row justify-content-end px-3 gap-2">
          <button type="submit" class="btn btn-lg btn_submit btn-primary my-3">Войти</button>
        </div>
        <div class="d-flex row justify-content-end px-3 gap-2">
          <a href="{% url 'password_reset' %}" class="btn btn_submit btn-sm btn-outline-secondary">Забыли пароль?</a>
          <a href="{% url 'signup' %}" class="btn btn_submit btn-sm btn-outline-secondary">Регистрация</a>
        </div>
      </form>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
