{% extends 'base.html' %}
{% load static %}

{% block title %}
  Письмо для восстановления пароля отправлено
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Восстановление пароля</h2>
    <div class="mt-5">
      <p>
        <b>Письмо с&nbsp;инструкциями по&nbsp;восстановлению пароля отправлено.</b>
      </p>
      <p>Мы&nbsp;отправили вам инструкцию по&nbsp;установке нового пароля на&nbsp;указанный вами e-mail. Вы&nbsp;получите письмо в&nbsp;ближайшее время (если в&nbsp;нашей базе данных есть введенный вами адрес). Следуйте указанным в&nbsp;нем инструкциям, чтобы установить новый пароль и&nbsp;восстановить доступ к&nbsp;своей учетной записи.</p>
      <p>
        Если вы&nbsp;не&nbsp;получили письмо, пожалуйста, убедитесь, что вы&nbsp;ввели адрес с&nbsp;которым вы&nbsp;зарегистрировались, и&nbsp;проверьте папку <b>&laquo;Спам&raquo;</b>.
      </p>
      <p>
        Если вы&nbsp;все еще не&nbsp;можете найти письмо,
        <a class="text-decoration-underline" href="mailto:info@stratman.pro?subject=Проблема%20с%20доступом&body=Добрый%20день!">свяжитесь с&nbsp;нашей службой поддержки</a>
        и&nbsp;мы&nbsp;поможем вам восстановить доступ к&nbsp;вашей учетной записи.
      </p>
      <p>Будьте внимательны при выборе нового пароля: используйте надежные комбинации из&nbsp;букв, цифр и&nbsp;символов, чтобы защитить свою учетную запись от&nbsp;несанкционированного доступа.</p>
      <p>
        Если у&nbsp;вас есть дополнительные вопросы или проблемы,
        <a class="text-decoration-underline" href="mailto:info@stratman.pro?subject=Вопрос%20по%20работе%20сайта&body=Добрый%20день!">обратитесь к&nbsp;нам</a>
        в&nbsp;любое время.
      </p>
      <p>Данную страницу можно закрыть.</p>
      <p>
        <b>Спасибо, что вы&nbsp;с&nbsp;нами!</b>
      </p>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
