{% extends 'base.html' %}
{% load static %}

{% block title %}
  Восстановление пароля завершено
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Восстановление пароля завершено</h2>
    <div class="mt-5">
      <p>
        <b>Ваш&nbsp;пароль был&nbsp;сохранен.</b>
      </p>
      <p>Теперь вы&nbsp;можете войти на&nbsp;сайт.</p>
    </div>
    <div class="d-flex row justify-content-end px-3 gap-2">
      <a href="{% url 'login' %}" class="btn btn_submit btn-primary w-auto px-3">Войти</a>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
