{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Создание нового пароля
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  {% if validlink %}
    <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
      <h2>Введите новый пароль</h2>
      <div class="mt-5">
        <form action="{{ action }}" id="reset_password_form" method="POST" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          <div class="my-3">
            <p class="text-danger">
              {% if form.errors %}
                Ваше имя пользователя и&nbsp;пароль не&nbsp;совпадают. Попробуйте&nbsp;еще&nbsp;раз.
              {% endif %}
              {% if next %}
                {% if user.is_authenticated %}
                  У&nbsp;вашей учетной записи нет&nbsp;доступа к&nbsp;этой странице.
                  <br />Чтобы продолжить, пожалуйста, войдите в&nbsp;систему с&nbsp;учетной записью, у&nbsp;которой есть доступ.
                {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="my-3">
            <div class="form-floating my-3">
              {{ form.new_password1|add_class:'form-control floating'|attr:'id:id_password1'|attr:'placeholder:Новый пароль' }}
              <label for="id_password1">{{ form.new_password1.label }}</label>
              <div id="password1Help" class="form-text">{{ form.password1.errors }}</div>
            </div>
            <div class="form-floating my-3">
              {{ form.new_password2|add_class:'form-control floating'|attr:'id:id_password2'|attr:'placeholder:Новый пароль еще раз' }}
              <label for="id_password2">Новый пароль еще раз</label>
              <div id="password2Help" class="form-text">{{ form.password2.errors }}</div>
            </div>
          </div>
          <div class="d-flex row justify-content-end px-3 gap-2">
            <button type="submit" class="btn btn-lg btn_submit btn-primary my-3">Сохранить пароль</button>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
      <h2>Восстановление пароля невозможно</h2>
      <div class="mt-5">
        <p>
          <b>Ссылка на&nbsp;сброс пароля из&nbsp;e-mail была некорректной.</b>
        </p>
        <p>Возможно, вы&nbsp;уже&nbsp;использовали эту&nbsp;ссылку ранее.</p>
        <p>Пожалуйста, пройдите процедуру восстановления пароля еще&nbsp;раз.</p>
      </div>
      <div class="d-flex row justify-content-end px-3 gap-2">
        <a href="{% url 'password_reset' %}" class="btn btn_submit btn-primary">Восстановить пароль</a>
      </div>
    </div>
  {% endif %}
  <!-- *********** -->
{% endblock %}
