{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Сброс пароля</h2>
    <div class="mt-5">
      <form action="{{ action }}" id="password_reset_form" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="my-3">
          <p class="text-danger">
            {% if form.email.errors %}
              {{ form.email.errors }}
            {% endif %}
          </p>
        </div>
        <div class="my-3">
          <div class="form-floating my-3">
            {{ form.email|add_class:'form-control floating'|attr:'id:id_username'|attr:'placeholder:name@example.com' }}
            <label for="id_username">E-mail:</label>
          </div>
          <div class="my-3">
            <p class="text_smaller">Введите почту, которая привязана к&nbsp;Вашей учетной записи</p>
          </div>
        </div>
        <div class="d-flex row justify-content-end px-3 gap-2">
          <button type="submit" class="btn btn-lg btn_submit btn-primary my-3">Сбросить пароль</button>
        </div>
      </form>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
