{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
  DSG - Главная
{% endblock %}

<!-- META TAGS -->
{% block meta_tags %}
  <!-- Основные -->
  <meta name="description" content="Django Starter Generator - приложение для автоматизации создания, настройки и первого запуска проектов на Django." />
  <meta name="keywords" content="Шаблон, Проект, Django, Генератор" />
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="https://github.com/Hildbjorn/django_starter_generator" />

  <!-- Для Фейсбука, ВКонтакте, Одноклассников и Гуглплюса -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Django Starter Generator" />
  <meta property="og:title" content="Django Starter Generator" />
  <meta property="og:description" content="Django Starter Generator - приложение для автоматизации создания, настройки и первого запуска проектов на Django." />
  <meta property="og:url" content="https://github.com/Hildbjorn/django_starter_generator" />
  <meta property="og:locale" content="ru_RU" />

  <!-- Для Твиттера и Вконтакта -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Django Starter Generator" />
  <meta name="twitter:description" content="Django Starter Generator - приложение для автоматизации создания, настройки и первого запуска проектов на Django." />
  <meta name="twitter:image:src" content="{% static 'img/elements/hero.png' %}" />
  <meta name="twitter:url" content="https://github.com/Hildbjorn/django_starter_generator" />
  <meta name="twitter:domain" content="Django Starter Generator" />
  <meta name="twitter:site" content="Django Starter Generator" />
  <meta name="twitter:creator" content="@stratman.pro" />

  <!-- Для Гуглплюса -->
  <meta itemprop="name" content="Django Starter Generator" />
  <meta itemprop="description" content="Django Starter Generator - приложение для автоматизации создания, настройки и первого запуска проектов на Django." />
  <meta itemprop="image" content="{% static 'img/elements/hero.png' %}" />
{% endblock %}
{% block content %}
  <div>
    <img src="{% static 'img/elements/hero.webp' %}" alt="DSG" style="max-width: 50%; max-height: 50%; width: auto; height: auto;" />
  </div>
{% endblock %}
