{% extends 'base.html' %}
{% load static %}
{% load users_tags %}

{% block title %}Все пользователи{% endblock %}

<!-- META TAGS -->
{% block meta_tags %}
  <!-- Основные -->
  <meta name="description" content="Новый проект Django. Удачной разработки" />
  <meta name="keywords" content="новый, проект, Django" />
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="https://stratman.pro/" />

  <!-- Для Фейсбука, ВКонтакте, Одноклассников и Гуглплюса -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Новый проект Django" />
  <meta property="og:title" content="Новый проект Django" />
  <meta property="og:description" content="Новый проект Django. Удачной разработки" />
  <meta property="og:url" content="https://stratman.pro/" />
  <meta property="og:locale" content="ru_RU" />

  <!-- Для Твиттера и Вконтакта -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Новый проект Django" />
  <meta name="twitter:description" content="Новый проект Django. Удачной разработки" />
  <meta name="twitter:image:src" content="{% static 'img/elements/logo.png' %}" />
  <meta name="twitter:url" content="https://stratman.pro/" />
  <meta name="twitter:domain" content="Новый проект Django" />
  <meta name="twitter:site" content="Новый проект Django" />
  <meta name="twitter:creator" content="@stratman.pro" />

  <!-- Для Гуглплюса -->
  <meta itemprop="name" content="Новый проект Django" />
  <meta itemprop="description" content="Новый проект Django. Удачной разработки" />
  <meta itemprop="image" content="{% static 'img/elements/logo.png' %}" />
{% endblock %}

{% block content %}

    <!-- Контент главной страницы -->
    <div class="container bg-white glass my-lg-4 my-2 py-3">
        <div class="container">
            <h2>Все пользователи</h2>
            <div class="mt-5">
                <div class="table-responsive">
                    <table class="table table-striped table_v_center text-flued">
                        <thead class="table-light">
                        <tr>
                            <th class="text-center" scope="col">№</th>
                            <th scope="col">Пользователи</th>
                            <th scope="col">Должность</th>
                            <th scope="col">Организация</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">e-mail</th>
                        </tr>
                        </thead>
                        {% for user in all_users %}
                            <tr class="interactive-row">
                                <th class="text-center text-nowrap col-1" scope="row">{{ forloop.counter }}.</th>
                                <td class="col-2 text-nowrap">
                                    <a href="{% url 'admin:index' %}users/customuser/{{ user.id }}/change/" target="_blank">
                                        {{ user }}
                                    </a>
                                </td>
                                <td class="col-2">
                                    {% if user.position %}
                                        {{ user.position }}
                                    {% else %}
                                        &middot; &middot; &middot;
                                    {% endif %}
                                </td>
                                <td class="col-2 text-nowrap">
                                    {% if user.company %}
                                        {{ user.company }}
                                    {% else %}
                                        &middot; &middot; &middot;
                                    {% endif %}
                                </td>
                                <td class="text-nowrap col-2">
                                    {% if user.phone %}
                                        <a class="footer_item_phone" href="tel:{{ user.phone }}" target="_blank">
                                            {{ user.phone }}
                                        </a>
                                    {% else %}
                                        &middot; &middot; &middot;
                                    {% endif %}
                                </td>
                                <td class="text-nowrap col-2">
                                    {% if user.email %}
                                        <a href="mailto:{{ user.email }}?subject=Предложение%20о%20сотрудничестве&body=Добрый%20день!"
                                           class="footer_item" target="_blank">
                                            {{ user.email }}
                                        </a>
                                    {% else %}
                                        &middot; &middot; &middot;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- *********** -->

{% endblock %}