{% extends 'base.html' %}
{% load static %}

{% block title %}
  Активация учетной записи не завершена
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Не получилось</h2>
    <div class="my-5">
      <p>
        <b>Ваш e-mail не&nbsp;подтвержден.</b>
      </p>
      <p>Неверная ссылка на&nbsp;активацию.</p>
      <p>
        Пожалуйста, пройдите регистрацию повторно <br />или <b><a class="text-decoration-underline" href="mailto:info@stratman.pro?subject=Проблема%20с%20активацией&body=Добрый%20день!">обратитесь к&nbsp;администрации</a></b>.
      </p>
    </div>
    <div class="d-flex row justify-content-end px-3 gap-2">
      <a href="{% url 'signup' %}" class="btn btn_submit btn-primary">Повторная регистрация</a>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
