{% extends 'base.html' %}
{% load static %}

{% block title %}
  Письмо с инструкциями по подтверждению e-mail отправлено
{% endblock %}

{% block content %}
  <!-- Контент страницы -->
  <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
    <h2>Подтверждение E-mail</h2>
    <div class="mt-5">
      <p>
        <b>Письмо с&nbsp;инструкциями по&nbsp;подтверждению e-mail отправлено.</b>
      </p>
      <p>Если вы&nbsp;не&nbsp;получили письмо, пожалуйста, убедитесь, что вы&nbsp;ввели существующий адрес и&nbsp;проверьте папку &laquo;Спам&raquo;.</p>
      <p>Данную страницу можно закрыть.</p>
      <p>
        <b>Спасибо, что вы&nbsp;с&nbsp;нами!</b>
      </p>
    </div>
  </div>
  <!-- *********** -->
{% endblock %}
