{% extends "base.html" %}
{% load static %}

{% block title %}Активация учетной записи завершена{% endblock %}

{% block content %}

    <!-- Контент страницы -->
    <div class="container bg-body-tertiary rounded shadow-sm w-auto my-auto p-3 p-lg-4">
        <h2>Активация завершена</h2>
        <div class="my-5">
            <p><b>Ваш&nbsp;e-mail&nbsp;подтвержден.</b></p>
            <p>Учетная запись активирована.
            <br>Теперь вы&nbsp;можете войти на&nbsp;сайт.</br>
        </div>
        <div class="d-flex row justify-content-end px-3 gap-2">
            <a href="{% url 'login' %}" class="btn btn_submit btn-primary">Войти</a>
        </div>
    </div>
    <!-- *********** -->

{% endblock %}