asgiref==3.8.1
Django==5.1.1
django-appconf==1.0.6
django-bootstrap5==24.2
django-compressor==4.5.1
django-libsass==0.9
libsass==0.23.0
python-dotenv==1.0.1
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.1
tzdata==2024.1
